<nav class="navbar is-dark is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/img/highcharts_logo.png" alt="Something By David">
      </a>
    </div>
  
    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/">
          HOME
        </a>
        <a class="navbar-item" routerLink="/build">
          BUILD
        </a>
        <a class="navbar-item" routerLink="/about">
          ABOUT
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a class="bd-tw-button button" data-social-network="LinkedIn" target="_blank" href="https://www.linkedin.com/in/davidkimlinked/">
                <span>
                  LINKEDIN
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" target="_blank" href="https://github.com/DavidKim01/Angular-Highcharts">
                <span>GITHUB</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>