<section class="hero is-info is-medium has-text-centered">
    <div class="hero-body">
      <div class="container is-centered">
        <h1 class="title is-centered">
          BUILD YOUR OWN POINT-MARKERS CHART
        </h1>
        <h2 class="subtitle">
          ADD API LINKS BELOW TO POPULATE WITH SERIES DATA
        </h2>
      </div>
    </div>

    <div class= "graph" id="chart"></div>
    <br>
    <div >
        <form [formGroup]="myForm" >
            <mat-form-field class="series" color="accent">
                <mat-label>CHOOSE AN OPTION</mat-label>
                <mat-select formControlName="seriesType">
                    <mat-option value="CLOSE">CLOSE</mat-option>
                    <mat-option value="MID">MID</mat-option>
                </mat-select>
                <span *ngIf="seriesType.invalid && seriesType.touched" color="warn" >SERIES TYPE REQUIRED</span>
            </mat-form-field>
        
            <div formArrayName="urls">
        
                <div *ngFor="let url of urlForms.controls; let i=index" [formGroupName]="i">
                    <mat-form-field color="accent">
                        <input matInput placeholder="ENTER A VALID QUANDL URL" formControlName="url">&nbsp;
                    </mat-form-field>
                    
                    <button mat-raised-button color="warn" (click)="deleteUrl(i)">X</button>
        
                </div>
        
            </div>
            <div>
              <button mat-raised-button color="accent" (click)="addUrl()">ADD</button>
            </div>
            <br>
            <button mat-raised-button color="accent" (click)="resetForms(); initializeChart();">CLEAR CHART</button>&nbsp;
            <button mat-raised-button color="accent" (click)="clearCache()">CLEAR CACHED DATA</button>&nbsp;
            <button mat-raised-button color="accent" [disabled]="myForm.invalid || urlForms.value.length < 1 || validateUrls()" (click)="submitHandler(); validateUrls()">BUILD CHART</button>
        </form>
        <br>
    </div>
  </section>
