<section class="hero is-info is-fullheight has-text-centered">
    
    <div class="back">
        <div *ngIf="!tickerChoice; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
            <br>
            <br>        
            <h1>WELCOME!</h1>
            <br>
            <h1>LET'S VISUALIZE SOME STOCK DATA...</h1>
            <br>
            <br>
        </ng-template>
        <ng-template #elseBlock></ng-template>
        <br>    
        <div *ngIf="lastUpdated && tickerChoice && isHidden; then updateBlock"></div>
        <ng-template #updateBlock>
            <br>        
            <h1>QUANDL API WAS LAST QUERIED FOR {{tickerChoice}} STOCK DATA ON: {{lastUpdated}}</h1>
            <p>(AUTOMATICALLY REFRESHES EVERY 2 MINUTES)</p>
        </ng-template>

        <br>
        <div class="form-group">
            <label class="label" for="tickerControl">SELECT A TICKER TO DISPLAY: </label>
            <select class="form-control" id="tickerControl" [(ngModel)]="tickerChoice" name="tickerControl"
                (change)="parseData(tickerChoice)">
                <option value="" selected disabled hidden>CHOOSE</option>
                <option *ngFor="let ticker of tickers" [value]="ticker">{{ticker}}</option>

            </select>
        </div>
        <br>
        <div [hidden]="isHidden" class="lds-roller">LOADING<div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        
        <br>
        <div [hidden]="isBlank" class="graph" id="ohlc-chart"></div>
        <br>
        <div [hidden]="isBlank" class="graph" id="candle-chart"></div>


    </div>
</section>